:root {
    --color-background: white;
    --color-on-background: black;
    --color-background-hover: rgb(224, 224, 224);
    --color-on-background-hover: black;
    --color-primary: rgb(3, 0, 100);
    --color-on-primary: black;
    --color-extended: rgba(0, 0, 0, 0.5);
    --color-legacy: rgba(0, 0, 0, 0.25);
    --color-tags: rgba(0, 0, 0, 0.25);
    --color-intpm: rgba(0, 0, 0, 0.15);
    --color-error: #de0000;
    --color-on-error: black;
}

main.dark,
header.dark {
    color-scheme: dark;
    --color-background: rgb(10, 10, 10);
    --color-on-background: #ff0000;
    --color-background-hover: rgb(20, 20, 20);
    --color-on-background-hover: rgb(0, 255, 255);
    --color-primary: rgb(20, 20, 20);
    --color-on-primary: rgb(255, 0, 0);
    --color-extended: rgba(255, 0, 0, 0.75);
    --color-legacy: rgba(255, 0, 0, 0.5);
    --color-tags: rgb(255, 0, 0, 0.25);
    --color-intpm: rgba(102, 0, 255, 0.25);
    --color-error: #de0000;
    --color-on-error: white;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
main {
    background-color: var(--color-background);
    color: var(--color-on-background);
    display: grid;
    grid-template-columns: minmax(16rem, 1.05fr) minmax(16rem, 2fr) minmax(
            16em,
            1fr
        );
    column-gap: 4rem;
}


header {
    display: flex;
    padding-inline: calc(25vw - 13rem);
    height: 4.25rem;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}
@media screen and (min-width: 1366px) {
    header {
        display: grid;
        padding-inline: 0;
    }
}
header .logo {
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
header .nav {
    flex: 1;
}

main {
    height: 0;
    flex: 1;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    column-gap: 2rem;
}
main > div {
    overflow-y: auto;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  transition-duration: 0.5s;
}

.spinner::after {
  content: "";
  width: 200px;
  height: 200px;
  border: 25px solid var(--color-legacy);
  border-top-color: var(--color-extended);
  border-radius: 50%;
  box-shadow: 0px 0px 50px var(--color-extended);
  animation: loading 0.75s ease-in-out infinite;
}

@keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}
.legacy {
    color: var(--color-legacy);
}
.extended {
    color: var(--color-extended);
}
.top1 {
    color: var(--color-top1);
}
.top2 {
    color: var(--color-top2);
}
.top3 {
    color: var(--color-top3);
}
.dark-bg {
    background: var(--color-background-hover);
    border-radius: 10px;
    padding: 25px;
}
.btngl {
    background: var(--color-tags);
    padding: 10px;
    font-family: "Lexend Deca", sans-serif;
    border-radius: 0.2cm;
    transition: 0.2s;
    cursor: pointer;
}
.btngl:hover {
    background: var(--color-legacy);
    transition: 0.2s;
}
.btn-no-cover {
    font-family: "Lexend Deca", sans-serif;
    cursor: pointer;
    background: transparent;
    border: none !important;
    margin: -5px;
    font-size: 20px;
    text-decoration: solid;
}
.btn-no-cover:hover {
    text-decoration: underline;
}
.item {
    background: #111;
    color: red;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background 0.3s;
}
.item:hover {
    background: #222;
}
.thumbnail {
    width: 100px;
    height: 100px;
    margin-top: 8px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.thumbnail.show {
    opacity: 1;
    height: 100px;
}
.search-bar {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.search-input {
    width: 80%;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--color-background-hover);
    color: var(--color-on-background);
    transition:background 0.3s;
}
.search-input:focus {
    outline: none;
    background-color: var(--color-background);
}
.mentions {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-background-hover);
    color: var(--color-on-background);
}
.mentions ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.mentions li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 6px 10px;
    birder-radius: 6px;
    background: var(--color-background);
    transition: background 0.2s;
}
.mentions li:hover {
    background: var(--color-background-hover);
}
.role-tag {
    color: var(--color-extended);
    font-weight: bold;
    font-size: 0.9em;
}
.cbf-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: 6px;
    vertical-align: middle;
}

.cbf-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.cbf-modal-content {
    background: #1A1A1A;
    color: #fff;
    padding: 20px 25px;
    border-radius: 12px;
    text-align: center;
    width: 260px;
    box-shadow: 0px 0px 10px #000;
}

.btn-close {
    margin-top: 15px;
    padding: 6px 14px;
    background: #ff0033;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}
.type-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* so creators still break nicely */
    gap: 6px;
}

.records .user {
    display: flex;
    align-items: center;
    gap: 6px;
}
